[Unit]
Description=dmsg-indexing service

[Service]
User=root
ExecStart=dmsg-indexer -t [indexer interval] -d [same dir that the dmsg-http server is set to serve]
Restart=always

[Install]
WantedBy=multi-user.target
